#footer {
  width:98%
}
/* ==========================================================================
Notify window
========================================================================== */
#notify.wide {
  width: 94%;
}
#notify.slim {
  width: 94%;
}
